extends ../layout
include ../mixins/_eventCard

block content
  .events__page
    .event__cards
      each event in events
        +eventCard(event)
    .filter__bar
    //- each event in events 
    //-   +eventCard(event)
  