extends ../layout
include ../mixins/_eventCard

block content
  .events__page
    .navi__btns
      i.fas.fa-angle-double-left
      i.fas.fa-angle-double-right
    .event__cards
      each event in events
        +eventCard(event)
    .filter__bar
      .filter__bar__date
        i.fas.fa-calendar-alt
        <i class="fas fa-arrow-up"></i>
      .filter__bar__title
        i.fas.fa-file-signature
        <i class="fas fa-arrow-up"></i>
      .filter__bar__locale
        i.fas.fa-map-marker-alt
        <i class="fas fa-arrow-up"></i>
  