// CARD POSITIONING
.events__page {
  height: calc(100vh - (65px + 4rem));
  width: 100vw;
  display: grid;
  grid-template-rows: 80% 20%;
  position: relative;
  
}
.event__cards {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.event__card {
  position: absolute;
  height: 90%;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: $top-shad;
  text-decoration: none;
  color: $white;
  background-size: cover;
  &:nth-child(1) {
    z-index: 5;
    bottom: $default-diff * 0;
    width: $default-width - $default-min * 0;
  }
  &:nth-child(n + 3) {
    background: $secondary !important;
  }
  &:nth-child(2) {
    z-index: 4;
    bottom: $default-diff * 1;
    width: $default-width - $default-min * 1;
  }
  &:nth-child(3) {
    z-index: 3;
    bottom: $default-diff * 2;
    width: $default-width - $default-min * 2;
  }
  &:nth-child(4) {
    z-index: 2;
    bottom: $default-diff * 3;
    width: $default-width - $default-min * 3;
  }
  &:nth-child(5) {
    z-index: 1;
    bottom: $default-diff * 4;
    width: $default-width - $default-min * 4;
  }
  &:nth-child(n + 6) {
    z-index: 0;
    opacity: 0;
    bottom: $default-diff * 4;
    width: $default-width - $default-min * 4;
  }
}
.filter__bar {
  @include flexbox__c;
  justify-content: space-around;
  height: 90%;
  background: $primary;
  margin-top: auto;
  box-shadow: $top-shad;
  &__date, &__title, &__locale {
    position: relative;
  }
  i {
    color: $tertBold;
    font-size: 4rem;
    text-shadow: $shad;
  }
  i[class*="fa-arrow"] {
    position: absolute;
    right: -10px;
    font-size: 1rem;
    color: $white;
  }
}
.navi__btns {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    color: $white;
    font-size: 40px;
    text-shadow: $shad;
  }
}