mixin dashboardCard(event = {})
  a(href=`/event/${event.slug}`)
    .dashboard-card(style=`background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.45)), url('/uploads/pic.jpg');`)
      .dashboard-card__background
        .dashboard-card__title
          h1= event.title
        .dashboard-card__bottom
          .dashboard-card__date
            h3= h.moment(event.date).format("MMMM Do")
          .event-card__amount
      .event__edit
        a(href=`/event/${event._id}/edit`)
          p Edit