mixin forgotForm()

    form.form.forgot__form(action="/account/forgot" method="POST")
        h2 Forgot your password?
        .fieldset
            label(for="email") Account Email
            input(type="email" name="email")
        input.button(type="submit" value="Send Request")