mixin header()
  nav.nav
    .nav__logo
      a.nav__link.nav__link--logo(href="/")
       != h.icon('mb')
    .nav__right__section
      .nav__dropdown
        i.fas.fa-bars
        ul.nav__dropdown__menu
          if user
            li: a.nav__item__link(href=`/dashboard/${user._id}`) Dashboard
            li: a.nav__item__link(href=`/profile/${user._id}`) Profile
            li: a.nav__item__link(href='/events') Events
            li: a.nav__item__link(href='/users/logout') Sign Out
          else
            li: a.nav__item__link(href='/users/login') Sign In
            li: a.nav__item__link(href='/events') Events
            li: a.nav__item__link(href='/users/register') Sign Up
