extends ../layout
include ../mixins/_bookingCard

block content
  .bookings
    .bookings__title
      .bookings__wrapper
        if  upcoming && upcoming.length > 0
          h1 Upcoming Bookings
          each booking in upcoming
            +bookingCard(booking)
        if pastBookings && pastBookings.length > 0
          h1 Past Bookings
          each booking in pastBookings
              +bookingCard(booking)
