extends ../layout

block content
    form.form.login__form.register__form(action="/users/register" method="POST")
      h3 Register
      label(for="name") Name
      input(type="text" name="name" )
      label(for="email") Email Address
      input(type="email" name="email" )
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Sign Up!")