.booking {
  position: absolute;
  top: 0;
  width: 100vw;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  z-index: 400;
  left: 50%;
  margin-left: -50vw;
  @include flexbox__c;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-550px);
  transition: all 0.5s cubic-bezier(0.8, 0.8, 0.9, 1);
  &__form {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    height: 40vh;
    width: 94vw;
    z-index: 5000;
    background:$primaryLinear;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
  }
  form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;

  }
  input:not([type="submit"]) {
    background: transparent;
    border: none;
    border-bottom: 2px solid $secondBold;
    color: $white;
    &:focus {
      outline: $primaryBold  auto 4px;
    }
  }

  &__amount {
    width: 50px;
  }
}
