html {
  font-size: 10px;
}
body {
  color: $white;
  background: $primaryLinear;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.inner {
  max-width:900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
  .flash-messages {
    position: absolute;
    z-index: 5;
    width: 80%;
    margin-left: -40%;
    left: 50%;
  }
}
