$primary: linear-gradient(54.78deg, #188BCA 6.08%, rgba(24, 139, 202, 0.85) 16.57%, rgba(24, 139, 202, 0.65) 50.28%, rgba(24, 139, 202, 0.85)  89.5%, #188BCA 100% );
$secondary:linear-gradient(54.78deg, #8B77F4 0%, #E45A97 100%);
$tertiary: linear-gradient(54.78deg, #188BCA,#8B77F4);
$primaryBold: #188BCA;
$secondBold: #8B77F4;
$tertBold: #E45A97;
$black: black;
$yellow: #FFC40E;
$red: #E50714;
$white: #efefef;
$grey: lighten(grey, 40%);
$top-shad: 2px -4px 8px rgba(0, 0, 0, 0.45);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(54.78deg, #188BCA 0%, #8B77F4 100%);
$primaryLinear: linear-gradient(247.47deg, rgba(33, 42, 90, 0.78) 0%, #212A5A 76.54%);
$border-bottom: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1.0) 50%, rgba(0, 0, 0, 0) 100%);
$width: 800px;
$default-diff: 12px;
$default-width: 100%;
$default-min: 10%;
$rad: 15px;
// mixins

@mixin flexbox__c(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-only {
  text-align: center;
  font-size: 2rem;
  height: 100vh; 
  width: 100vw;
  background: $primaryLinear;
  color: $white;
}